#cancan{
    border-style:solid;
    border-color:black;
}
body{
    text-align:center;
}
#readii{
    border-style:ridge;
    border-color:midnightblue;
}
#witchwidth{
    border-style:ridge;
    border-color:midnightblue;
}
#coolor{
    border-style:ridge;
    border-color:midnightblue;
}